@import "tailwindcss";

@theme {
  --font-roboto: var(--font-roboto);
  --font-roboto-condensed: var(--font-roboto-condensed);
}

@layer components {
  .nav-btn {
    @apply border shrink-0 border-[#0A5559]
           rounded-3xl
           py-[0.1rem]
           w-[7.9rem]
           bg-transparent
           font-roboto-condensed
           text-[1.2rem]
           font-normal
           text-[#145659]
           cursor-pointer
           transition
           duration-200
           hover:bg-[#0A5559]
           hover:text-[#d2f3f5];
  }
}



@utility flex-between {
  @apply flex justify-between items-center;
}

